<header id="header" class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a ui-sref="home" class="navbar-brand"><img src="images/logo.png" alt="" /></a>
        </div>

        <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">


            <ul class="nav navbar-nav navbar-right hidden-sm">
                <li>
                    <button type="button" class="btn btn-primary" ng-controller="MainCtrl" ng-click="showLogin();">Entrar</button>
                </li>
            </ul>
        </nav>

    </div>
</header>

