<form name="loginForm" ng-controller="LoginCtrl" ng-submit="login(credentials)" novalidate>

    <div class="form-group">
        <div class="error-container text-danger" ng-show="$root.loginError">
            {{$root.loginError}}
        </div>
    </div>

    <div class="form-group">
        <label class="sr-only">E-mail</label>
        <input type="email" name="email" ng-model="credentials.email" class="form-control" placeholder="E-mail" required>
        <div class="error-container" ng-show="loginForm.email.$dirty && loginForm.email.$invalid">
            <small ng-show="loginForm.email.$error.required" class="help-block">Digite seu email.</small>
        </div>
    </div>

    <div class="form-group">
        <label class="sr-only">Senha</label>
        <input type="password" name="password" ng-model="credentials.password" class="form-control" placeholder="Senha" required>
        <div class="error-container" ng-show="loginForm.password.$dirty && loginForm.password.$invalid">
            <small ng-show="loginForm.password.$error.required" class="help-block">Digite sua senha.</small>
        </div>
    </div>

    <button type="submit" class="btn btn-primary" ng-disabled="loginForm.$invalid">Entrar</button>
    <small class="pull-right"><a ng-click="goToRegister()">Quero me cadastrar</a></small>
</form>
