<ul class="nav navbar-nav" ng-controller="MainCtrl">
    <li>
        <a ng-click="goToSection('hero')">Início</a>
    </li>
    <li>
        <a ng-click="goToSection('features')">Classificação</a>
    </li>
    <li ng-if="!$root.user">
        <a ng-click="goToSection('register')">Cadastre-se</a>
    </li>
</ul>