<form class="row-top" name="userForm" ng-controller="RegisterCtrl" ng-submit="createUser()" novalidate>
    <div class="form-group"  ng-class="{ 'has-error' : userForm.name.$dirty && userForm.name.$invalid }">
        <label><small>*</small> Nome</label>
        <input type="text" name="username" class="form-control" placeholder="Nome" ng-minlength="3" ng-model="user.username" required>
        <div class="error-container" ng-show="userForm.username.$dirty && userForm.username.$invalid">
            <small ng-show="userForm.username.$error.required" class="help-block">Nome é obrigatório.</small>
            <small ng-show="userForm.username.$error.minlength" class="help-block">Nome deve ter 3 ou mais caracteres</small>
        </div>
    </div>

    <div class="form-group" ng-class="{ 'has-error' : userForm.email.$dirty && userForm.email.$invalid }">
        <label><small>*</small> Email</label>
        <input type="email" name="email" class="form-control" placeholder="Email" ng-model="user.email" required>
        <div class="error-container" ng-show="userForm.email.$dirty && userForm.email.$invalid">
            <small ng-show="userForm.email.$error.required" class="help-block">E-mail é obrigatório.</small>
            <small ng-show="userForm.email.$error.email" class="help-block">E-mail inválido.</small>
        </div>
    </div>

    <div class="form-group">
        <label> Empresa</label>
        <input type="text" name="company" class="form-control" placeholder="Empresa" ng-model="user.company">
    </div>

    <div class="form-group" ng-class="{ 'has-error' : userForm.password.$dirty && userForm.password.$invalid }">
        <label><small>*</small> Senha</label>
        <input type="password" name="password" class="form-control" ng-minlength="6" placeholder="Senha" ng-model="user.password" required>
        <div class="error-container" ng-show="userForm.password.$dirty && userForm.password.$invalid">
            <small ng-show="userForm.password.$error.required" class="help-block">Senha é obrigatória.</small>
            <small ng-show="userForm.password.$error.minlength" class="help-block">Senha deve ter o mínimo de 6 caracteres</small>
        </div>
    </div>

    <div class="form-group" ng-class="{ 'has-error' : userForm.passwordConfirm.$dirty && userForm.passwordConfirm.$invalid }">
        <label><small>*</small> Confirme a Senha</label>
        <input type="password" name="passwordConfirm" class="form-control" equals="{{user.password}}" ng-minlength="6" placeholder="Confirme sua senha" ng-model="passConfirm" required>
        <div class="error-container" ng-show="userForm.passwordConfirm.$dirty && userForm.passwordConfirm.$invalid">
            <small ng-show="userForm.passwordConfirm.$error.required" class="help-block">Confirme a senha.</small>
            <small ng-show="userForm.passwordConfirm.$error.minlength" class="help-block">Senha deve ter o mínimo de 6 caracteres</small>
            <small ng-show="userForm.passwordConfirm.$error.equals" class="help-block">As senhas não conferem.</small>
        </div>
    </div>
    <button type="submit" class="btn btn-primary-alt" ng-disabled="userForm.$invalid">Cadastrar</button>
    <!--<button type="submit" class="btn btn-primary-alt">Cadastrar</button>-->
</form>
