<form name="searchForm" role="form" ng-controller="FormSearchCtrl" ng-submit="search()" novalidate>
    <div class="input-group">
        <input type="text" class="form-control input-lg" id="searchField" placeholder="Digite o código EAN" ng-model="ean" required>
        <span class="input-group-btn">
            <button class="btn btn-lg btn-primary" type="submit">Buscar</button>
        </span>
    </div>
</form>
