<section class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h4>Login</h4>
                <div ng-include="'app/views/includes/login-form.html'"></div>
            </div>
        </div>
    </div>
</section>
