
<div id="parallax"></div>

<section id="hero" class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-6"></div>
            <div class="col-md-6">
                <div class="blox-element animate" data-animate="fadeInDown">
                    <h1><strong>G-EAN</strong></h1>
                    <p class="lead">O Gean lhe fornece a classificação fiscal de um produto a partir de seu número EAN (código de barras).</p>
                    <p><a class="btn btn-primary btn-md btn-rocket btn-primary" role="button" ng-click="goToSearch()">Começar</a></p>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="search" class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h4>Digite o código EAN que deseja consultar</h4>
                <div id="searchTitle" ng-include="'app/views/includes/search-form.html'"></div>
            </div>
        </div>
    </div>
</section>

<hr>

<section id="merchan" class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-12" id="imageQuestions">

            </div>
        </div>
    </div>
</section>


<section id="features" class="section">
    <div class="container">
        <div class="row">
                    <div class="col-md-12">
                    <!-- Title -->
                    <div class="overview">
                        <h1>Classificação Fiscal</h1>
                        <p class="lead">Entenda o que é e como funciona a classificação fiscal de mercadorias.</p>
                    </div>

                <div class="col-md-4 col-sm-6">
                    <div class="service-block animate" data-animate="fadeInRight">
                        <span class="glyphicon glyphicon-question-sign"></span>
                        <h3>O que é?</h3>
                        <p>É a atribuição de um código numérico fiscal de oito (8) dígitos, chamado de NCM (nomenclatura comum do Mercosul), adequado à mercadoria em questão</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="service-block animate" data-animate="flipInY">
                        <span class="glyphicon glyphicon-record"></span>
                        <h3>Finalidade?</h3>
                        <p>Identificar uma dada mercadoria de forma precisa, para fins de tributação, tratamentos administrativos e controles estatísticos.</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="service-block animate" data-animate="fadeInLeft">
                        <span class="glyphicon glyphicon-lock"></span>
                        <h3>Quem é obrigado?</h3>
                        <p>Está obrigado a classificar mercadorias as empresas Fabricantes, Importadores e Exportadores de produtos.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row row-top">
            <div class="col-md-12">
                <div class="service-block animate" data-animate="fadeInLeft">
                    <h4>Quais as consequências da má realização da classificação fiscal?</h4>
                </div>
            </div>
            <div class="col-md-8 col-md-offset-2 text-left">
                <p class="text-left animate line-spaced" data-animate="fadeInLeft">
                    <img src="dist/images/done.png"> Recolhimento a maior de tributos (encarecendo o produto final).<br>
                    <img src="dist/images/done.png"> Recolhimento a menor de tributos (caracterizado como sonegação fiscal).<br>
                    <img src="dist/images/done.png"> Multas e autuações.<br>
                    <img src="dist/images/done.png"> Atrasos em processos de importação/exportação.
                </p>
            </div>
        </div>
    </div>
</section>



<section id="register" class="section" ng-if="!$root.user">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="text-center">Cadastre-se, é rápido e grátis!</h1>
            </div>

            <div class="col-md-8 col-md-offset-2">
                <div ng-include="'app/views/includes/register-form.html'"></div>
            </div>
        </div>
    </div>
</section>



<footer class="section">
    <div class="container">
        <div class="row">

            <div class="col-md-12">
                <p class="text-center">&copy; Todos os direitos reservados</p>
            </div>
        </div>
    </div>
</footer>