<section id="text" class="section" ng-if="!$root.user">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="text-center">Cadastre-se, é rápido e grátis!</h1>
            </div>

            <div class="col-md-8 col-md-offset-2">
                <div ng-include="'app/views/includes/register-form.html'"></div>
            </div>
        </div>
    </div>
</section>