
<section id="result" class="section">
    <div class="container">

        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h4>Digite o código EAN que deseja consultar</h4>
                <div ng-include="'app/views/includes/search-form.html'"></div>
            </div>
        </div>

        <div class="row">
            <div class="alert alert-{{messageClass}} alert-dismissable" ng-show="message">
                <button type="button" class="close" ng-click="hideMessage()" data-dismiss="alert" aria-hidden="true">&times;</button>
                {{message}}
            </div>

            <div ng-show="showSolicitacaoEan">
                <form name="solicitacaoEanForm" ng-hide="solicitacaoExecuted" ng-submit="requestEan(solicitacaoEan)" novalidate>

                    <div class="form-group" ng-class="{ 'has-error' : solicitacaoEanForm.email.$dirty && solicitacaoEanForm.email.$invalid }">
                        <label><small>*</small> Email</label>
                        <input type="email" name="email" class="form-control" placeholder="Email" ng-model="solicitacaoEan.email" ng-disabled="solicitacaoEmailDisabled" required>

                        <div class="error-container" ng-show="solicitacaoEanForm.email.$dirty && solicitacaoEanForm.email.$invalid">
                            <small ng-show="solicitacaoEanForm.email.$error.required" class="help-block">Por favor informe um e-mail.</small>
                            <small ng-show="solicitacaoEanForm.email.$error.email" class="help-block">E-mail inválido.</small>
                        </div>
                    </div>

                    <div class="form-group" ng-class="{ 'has-error' : solicitacaoEanForm.mercadoria.$dirty && solicitacaoEanForm.mercadoria.$invalid }">
                        <label><small>*</small> Mercadoria</label>
                        <textarea rows="6" name="mercadoria" class="form-control" placeholder="Descrição da mercadoria" ng-model="solicitacaoEan.mercadoria"
                                  ng-minlength="3" ng-maxlength="2000" required></textarea>

                        <div class="error-container" ng-show="solicitacaoEanForm.mercadoria.$dirty && solicitacaoEanForm.mercadoria.$invalid">
                            <small ng-show="solicitacaoEanForm.mercadoria.$error.required" class="help-block">Por favor informe a descrição da mercadoria.</small>
                            <small ng-show="solicitacaoEanForm.mercadoria.$error.minlength" class="help-block">Descrição da mercadoria deve ter 3 ou mais caracteres</small>
                            <small ng-show="solicitacaoEanForm.mercadoria.$error.maxlength" class="help-block">Descrição da mercadoria deve ter no máximo 2000 caracteres</small>
                        </div>
                    </div>

                    <p class="text-center with-padding">
                        <button class="btn btn-primary" type="submit" ng-disabled="solicitacaoEanForm.$invalid">Enviar</button>
                    </p>
                </form>

                <p class="text-center" ng-show="solicitacaoExecuted">
                    Solicitação realizada com sucesso. Assim que o ean estiver classificado enviaremos uma notificação!
                </p>
            </div>


            <div class="col-md-12 result" ng-show="ean">
                <div class="row-fluid">
                    <div class="col-md-4 col-md-offset-4 text-center ncm">
                        <p><small>N.C.M:</small> <b>{{ean.ncm}}</b></p>
                    </div>
                    <div class="col-md-4 col-md-offset-4 like text-center">
                        <p>Esta informação foi útil?
                            <button class="btn btn-like" ng-disabled="likedOrDisliked" ng-class="{ liked: liked }" type="button" ng-click="like(ean)"><i class="fa fa-thumbs-o-up"></i></button>&nbsp;&nbsp;
                            <button class="btn btn-dislike" ng-disabled="likedOrDisliked" ng-class="{ disliked: disliked }" type="button" ng-click="dislike(ean)"><i class="fa fa-thumbs-o-down"></i></button>

                            <br />
                            <span class="note" ng-show="likedOrDisliked">Seu voto foi computado, obrigado pelo feedback!</span>
                        </p>
                    </div>
                </div>
            </div>


            <div class="col-md-10 col-md-offset-1" ng-show="ean">
                <ul class="nav nav-pills nav-justified">
                    <li ng-class="{active: showVote }"><a ng-click="showVotes();">Participe</a></li>
                    <li ng-class="{active: showFaq }"><a ng-click="showFaqs();">FAQ</a></li>
                </ul>
            </div>

            <div ng-show="showVote" class="col-md-10 col-md-offset-1 with-padding">
                <p>Ajude-nos a melhorar, que outras funcionalidades/informações você gostaria de ver?</p>
                <p ng-hide="voted">
                    <ul class="small-margin-left list-unstyled list-vote" >
                        <li ng-repeat="funcionalidade in ean.funcionalidades">
                            <span>{{funcionalidade.description}}</span>&nbsp;&nbsp;
                            <button class="btn btn-like btn-xs" ng-class="{ liked: funcionalidade.voted }" ng-click="voteInFeature(funcionalidade)" ng-disabled="funcionalidade.voted">
                                <i class="fa fa-thumbs-o-up"></i>
                            </button>
                            <p class="note" ng-show="funcionalidade.voted">
                                Seu voto foi computado, obrigado por nos ajudar a melhorar!
                            </p>
                        </li>
                    </ul>
                </p>

                <p>
                    <form name="sugestionForm" ng-show="showSugestionField" ng-submit="sendRequestFeature(userFeature)" novalidate>
                        <div class="form-group"  ng-class="{ 'has-error' : sugestionForm.description.$dirty && sugestionForm.description.$invalid }">
                            <label for="description">Ou sugira algo novo!</label>

                            <input type="text" ng-model="userFeature.descricao" name="description" id="description" class="form-control"
                                   ng-minlength="10" maxlength="50" required>

                            <div class="error-container" ng-show="sugestionForm.description.$dirty && sugestionForm.description.$invalid">
                                <small ng-show="sugestionForm.description.$error.minlength" class="help-block">Funcionalidade deve ter 10 ou mais caracteres</small>
                            </div>
                        </div>

                        <p class="text-center with-padding">
                            <button class="btn btn-primary" type="submit" ng-disabled="sugestionForm.description.$invalid">Enviar</button>
                        </p>
                    </form>
                </p>

                <p class="text-center" ng-show="sugested">
                    Sugestão registrada com sucesso! Em alguns dias irá aparecer para votação.
                </p>

            </div>

            <div ng-show="showFaq" class="col-md-10 col-md-offset-1 with-padding">
                <p class="text-center">
                    <b>{{faqMessageHearder}}</b>
                </p>

                <div class="panel panel-default" ng-repeat="faq in ean.faqs" ng-show="faq.answer">
                    <div class="panel-heading">
                        <h3 class="panel-title">{{faq.question}}</h3>
                    </div>
                    <div class="panel-body">
                        <p>{{faq.answer}} <br>
                        <button type="button" class="btn btn-xs btn-primary pull-right" id="faq_{{faq.id}}" ng-click="agreeWithAnswer(faq.id)" ng-disabled="faq.agreed">Concordo</button></p>

                        <br/>
                        <p class="note pull-right" ng-show="faq.agreed">Obrigado por colaborar!</p>
                    </div>
                </div>

                <p class="text-center" ng-hide="(showQuestionField || faqCreated)">
                    <button type="button" class="btn btn-primary" ng-click="showQuestion()">Quero fazer uma pergunta</button>
                </p>


                <form name="faqForm" ng-show="showQuestionField" ng-submit="sendQuestion(userQuestion)" novalidate>
                    <input type="text" ng-model="userQuestion.question" id="faq_question" name="question" class="form-control" maxlength="50" required>

                    <p class="text-center with-padding">
                        <button class="btn btn-primary" type="submit" ng-disabled="faqForm.question.$invalid">Enviar</button>
                    </p>
                </form>
            </div>

            <div class="text-center col-md-10 col-md-offset-1 with-padding" ng-show="(showFaq && faqCreated)">
                Sua dúvida foi registrada. Assim que tivermos uma resposta lhe enviaremos uma notificação e disponibilizaremos as informações aqui.
            </div>
        </div>

    </div>
</section>