.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
.with-padding {
  padding: 20px;
}
.row-top {
  padding-top: 50px;
}

.bg-gray {
  background-color: @header;
}

p.line-spaced {
  line-height: 31px;
  img {
    width: 16px;
    height: 16px;
    vertical-align: baseline;
  }
}

.affix{
  position: fixed;
  top: 82px;
  z-index:99;
  right: 0;
  background-color: @submenu !important;
  border-bottom: 1px solid @border-default;
  opacity: 0.95;
}

.result {
  margin: 25px 0;
}

.ncm {
  background: @brand-danger;
  font-size: 1.5em;
  padding: 10px 0;
  color: @white;
  border-radius: 5px;
  small {
    font-size: 0.8em;
    padding: 0 5px 0 0;
  }
}

.like {
  font-size: 1.2em;
  padding-top: 10px;
  color: @submenu-link;
}

.list-vote{
  li {
    line-height: 35px;
    button {
      margin-right: 20px;
    }
  }
}

.overview, .service-block {
  text-align: center;
}
.overview .lead {
  margin-bottom: 80px;
}

.service-block .glyphicon {
  font-size: 60px;
  margin-bottom: 20px;
}
