@import "../vendor/components/bootstrap/less/bootstrap";

@import "animate";
@import 'helpers';
@import 'overrides';
@import 'variables';


body {
  color: @submenu-link;
  font: @font-family-sans-serif;
  font-weight: 300;
  background-color: @white;
  overflow-x: hidden;
  line-height: 1.55em;
}


#imageQuestions {
  height: 500px;
  background: url('../images/duvidas.jpg') center 10px no-repeat;
  background-size: 50%;
}

/*	Section
	==================================================*/
.section {
  padding: 120px 0;
}
.active-section {
  top: 80px;
}

/*	Header
	==================================================*/
#header {
  box-shadow: 0 0 5px rgba(0,0,0,.05);
  -webkit-box-shadow: 0 0 5px rgba(0,0,0,.05);
  -moz-box-shadow: 0 0 5px rgba(0,0,0,.05);
  top: 0 !important;
  margin-top: 0 !important;
  background: @header;
  border-bottom: 1px solid @border-default;
}

/*	Parallax Background
	==================================================*/
#parallax {
  height: 500px;
  width: 100%;
  position: fixed;
  background: url('../images/top.jpg') center center no-repeat;
  background-size: cover;
  z-index: -100;
}


/*	Hero %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */
#hero {
  background: rgba(0, 0, 0, 0);
  margin-top: 80px;
  padding: 150px 0;
  color: #000;
}

#hero h1 {
  font-size: 60px;
  color: #000;
}

#hero p.lead {
  font-size: 1.8em;
}

/*	Search %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */
#search {
  padding: 20px 0 !important;
}

/*	Subnav %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */
#subnav {
  padding: 20px 0 !important;
}

/*	Features %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */
#features {
  background-color: @submenu;
}

/*	Merchan  %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */
#merchan {
  padding-top: 50px;
  padding-bottom: 0;
}

/*	Footer  %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */
footer {
  color: @submenu;
  background-color: @asfalt;
}

/*	Buttons Like Dislike %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */
.btn-like {
  background-color: @submenu;
  border-bottom: 3px solid @brand-success;
  border-color: @brand-success;
  color: @submenu-link;
}
.btn-like:hover {
  background-color: @brand-success;
  color: @white;
}

.btn-dislike {
  background-color: @submenu;
  border-bottom: 3px solid @brand-danger;
  border-color: @brand-danger;
  color: @submenu-link;
}
.btn-dislike:hover {
  background-color: @brand-danger;
  color: @white;
}

.liked {
  background-color: @brand-success;
  color: @white;
}
.disliked {
  background-color: @brand-danger;
  color: @white;
}

.note{
  font-size: 0.7em;
  color: #000;
}

.small-margin-left{
  margin-left: 10px;
}


/*	Responsive %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */

@media (max-width: 1199px) {
  #imageQuestions {
    background-size: 60%;
    background-position: center 13px;
  }
}

@media (max-width: 992px) {
  body {
    font-size: 14px;
  }
  .container {
    max-width: 690px;
  }
  .section {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  .service-block, .img-responsive, .carousel, .content-block {
    margin-bottom: 80px;
  }
  #imageQuestions {
    background-size: 80%;
    background-position: center 43px;
  }
}
@media (max-width: 768px) {
  body {
    font-size: 14px;
  }
  .container {
    max-width: 490px;
  }
  .service-block, .img-responsive, .carousel, .content-block {
    margin-bottom: 30px;
  }
  #imageQuestions {
    background-size: 98%;
    background-position: center 100px;
  }
}