/*	Main Elements
	==================================================*/
a {
  color: @brand-primary;
  cursor: pointer;
  text-decoration: none;

  -moz-transition: all .2s;
  -o-transition: all .2s;
  -webkit-transition: all .2s;
  transition: all .2s;
}
a:hover, a:focus {
  color: @default-green;
  outline: none;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  color: @submenu-link;
}


h1 {font-size: 3em; margin-top:0;}
h2 {font-size: 2.5em; margin-top:0;}
h3 {font-size: 2em; margin-top:0;}
h4 {font-size: 1.5em;}
h5 {font-size: 1em;}
h6 {font-size: .8em;}

p.lead {
  font-size: 1.2em;
  font-weight: 100;
}
p {
  margin-bottom: 20px;
}
p:last-child {
  margin-bottom: 0;
}
ul, ol {
  margin-bottom: 20px;
}
blockquote {
  padding-top: 0;
  padding-bottom: 0;
  border-color: @brand-primary;
}
blockquote small {
  color: inherit;
}
pre {
  background-color: rgba(255, 255, 255, .5);
  border-color: rgba(0, 0, 0, .1);
  margin-bottom: 20px;
}
strong {
  font-weight: 400;
}


/*	Button & Label
	==================================================*/
.btn, .label {
  border: none;
  font-weight: 300;
  -moz-transition: all .2s;
  -o-transition: all .2s;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.btn:hover, .btn:focus, .btn:active {
  outline: none;
}

.btn-lg, .btn-group-lg > .btn {
  border-radius: 6px;
  font-size: 18px;
  line-height: 1.33;
  padding: 15px 30px;
}
.btn-primary {
  background-color: @brand-success;
  border-bottom: 3px solid @border-green;
  border-color: @border-green;
  color: #fff;
}
.btn-primary:hover {
  background-color: #29b765;
  border-bottom: 3px solid;
  border-color: #208e4f;
  color: #fff;
}
.btn-primary-alt {
  background-color: #2c3e50;
  border-bottom: 3px solid;
  border-color: #233140;
  color: #fff;
}
.btn-primary-alt:hover {
  background-color: #273748;
  border-bottom: 3px solid;
  border-color: #1e2b38;
  color: #fff;
}
.btn-secondary {
  background-color: #94a3a8;
  border-bottom: 3px solid;
  border-color: #768286;
  color: #fff;
}
.btn-secondary:hover {
  background-color: #859297;
  border-bottom: 3px solid;
  border-color: #677275;
  color: #fff;
}


/*	Tab & Collapse Skin
	==================================================*/
.tab-pane {
  padding: 15px 0;
  margin-bottom: 5px;
}
.nav-tabs {
  border-bottom-color: @submenu;
}
.nav-tabs>li>a {
  padding: 10px 0;
  margin-right: 30px;
  color: inherit;
  font-size: 16px;
  font-weight: 400;
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0);
}
.nav .open>a, .nav .open>a:hover, .nav .open>a:focus {
  background: transparent;
  border: none;
  border-color: rgba(255, 255, 255, 0);
}
.nav>li>a:hover, .nav>li>a:focus {
  background-color: @submenu;
}
.nav-tabs>li>a:hover,.nav-tabs>li>a:focus {
  color: @brand-primary;
  background: transparent;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
  background: transparent;
  border: none;
  color: @brand-primary;
  border-bottom: 1px solid @brand-primary;
}
.nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus {
  background-color: @brand-primary;
}
.nav .caret, .nav a:hover .caret {
  border-top-color: @brand-primary;
  border-bottom-color: @brand-primary;
}
.dropdown-menu>.active>a, .dropdown-menu>.active>a:hover, .dropdown-menu>.active>a:focus {
  background-color: @brand-primary;
}
.navbar-inverse .navbar-toggle {
  background-color: @asfalt;
  border-color: @submenu-link;
  margin-top: 23px;
}
.navbar-inverse .navbar-toggle:focus {
  outline: none;
}

/*	Nav-Pills
	==================================================*/
.nav-pills li a {
  background: @submenu;
}


/*	Navbar
	==================================================*/
.navbar-brand {
  padding: 25px 15px;
  margin-right: 30px;
}
.navbar-inverse {
  background-color: #FFF;

  border: none;
}
.navbar-right button {
  margin: 23px 0;
}
.navbar-nav>li>a {
  padding: 30px 0;
  margin: 0 15px;
}
.navbar-inverse .navbar-nav>li>a {
  color: inherit;
  font-weight: 400;
}

.navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-nav>li>a:focus,
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:hover, .navbar-inverse .navbar-nav>.active>a:focus {
  background-color: rgba(255, 255, 255, 0);
  color: @brand-primary;
}

.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

/*	Panel
	==================================================*/
.panel {
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
}
.panel-default {
  border-color: @submenu;
}
.panel-default:last-child {
  margin-bottom: 25px;
}
.panel-default>.panel-heading {
  background: @submenu;
  color: inherit;
}
.panel-default>.panel-heading+.panel-collapse .panel-body {
  border-top:none;
}

/*	Carousel
	==================================================*/
.carousel-control.left, .carousel-control.right {
  background-image: none;
}
.carousel-control {
  color: @brand-primary;
  opacity: 1;
  text-shadow: none;
}
.carousel-control:hover {
  color: @default-green;
}
.carousel-indicators li {
  border-color: @brand-primary;
  margin: 0 2px;

  -moz-transition: all .2s;
  -o-transition: all .2s;
  -webkit-transition: all .2s;
  transition: all .2s;
}
.carousel-indicators .active {
  height: 10px;
  width: 10px;
  margin: 0 2px;
  background-color: @default-green;
  border: 1px solid @default-green;
}

/*	Form
	==================================================*/
label {
  font-weight: 300;
}
.input-group {
  margin-bottom: 10px;
}
.form-control {
  font-weight: 300;
  font-size: 14px;
  
  background-color: @submenu;
  background-image: none !important;
  
  box-shadow: none;
  border: 0px solid transparent;
  border-radius: 6px;

  color: @brand-primary;
  display: block;

  height: 55px;
  line-height: 1.42857;
  padding: 6px 12px;
  
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  

  -moz-transition: all .2s;
  -o-transition: all .2s;
  -webkit-transition: all .2s;
  transition: all .2s;
}


.form-control:focus {
  background-color: #fff;
  border: 3px solid @submenu;
  box-shadow: none !important;
  color: @brand-primary;
}

.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control,
.form-control[disabled]:hover, .form-control[readonly]:hover, fieldset[disabled] .form-control:hover,
.form-control[disabled]:focus, .form-control[readonly]:focus, fieldset[disabled] .form-control:focus {
  background-color: @submenu;
}
.form-control:hover, .form-control:focus {
  outline: none;
  border-color: @submenu;
  background-color: @white;

  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
}
.form-control:-moz-placeholder{color:@border-dark; font-weight: 300;}
.form-control::-moz-placeholder{color:@border-dark; font-weight: 300;}
.form-control:-ms-input-placeholder{color:@border-dark; font-weight: 300;}
.form-control::-webkit-input-placeholder{color:@border-dark; font-weight: 300;}
.input-group-addon {
  background-color: @white;
  border-color: @submenu;
  color: @submenu;
}




//asd
[class^="has-"] .form-control, [class*=" has-"] .form-control {
  color: @white;
}
.has-success .help-block, .has-success .control-label, .has-success .radio, .has-success .checkbox, .has-success .radio-inline, .has-success .checkbox-inline {
  color: @brand-success;
}
.has-success .form-control {
  border-color: @brand-success;
  background-color: @brand-success;
}
.has-success .form-control:hover, .has-success .form-control:focus {
  border-color: @brand-success;
  background-color: @white;
  color: @brand-success;

  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
}
.has-warning .help-block, .has-warning .control-label, .has-warning .radio, .has-warning .checkbox, .has-warning .radio-inline, .has-warning .checkbox-inline {
  color: @brand-warning;
}
.has-warning .form-control {
  border-color: @brand-warning;
  background-color: @brand-warning;
}
.has-warning .form-control:hover, .has-warning .form-control:focus {
  background-color: @white;
  border-color: @brand-warning;
  color: @brand-warning;

  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
}
.has-error .help-block, .has-error .control-label, .has-error .radio, .has-error .checkbox, .has-error .radio-inline, .has-error .checkbox-inline {
  color: @brand-danger;
}
.has-error .form-control {
  border-color: @brand-danger;
  background-color: @brand-danger;
}
.has-error .form-control:hover, .has-error .form-control:focus {
  background-color: @white;
  border-color: @brand-danger;
  color: @brand-danger;

  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
}