@default-green:        #16a085;
@border-green:         #24a35a;
@brand-primary:        #1abc9c;
@brand-success:        #2ECC71;

@brand-danger:         #e74c3c;
@brand-warning:        #e67e22;

@white:                #ffffff;
@header:               #fafafa;
@submenu:              #eeeeee;
@border-default:       #dedede;
@border-dark:          #bdc3c7;
@asfalt:               #34495e;
@submenu-link:         #2c3e50;

@font-family-sans-serif:  "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
@font-family-serif:       Georgia, "Times New Roman", Times, serif;
//** Default monospace fonts for `<code>`, `<kbd>`, and `<pre>`.
@font-family-monospace:   Menlo, Monaco, Consolas, "Courier New", monospace;
@font-family-base:        @font-family-sans-serif;

@font-size-base:          16px;
@font-size-large:         (@font-size-base + 1); // 14px
@font-size-small:         (@font-size-base - 1); // 12px
@font-size-mini:          (@font-size-base - 2); // 11px